body {
    background-image: url(../img/library-8604834_1280.jpg);
    background-size: cover; /* Cubre todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita */
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    font-family: "Edu NSW ACT Foundation", cursive !important;

} 

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container-presentation {
    opacity: 0;
    transform: translateY(-100%);
    animation: slideIn 0.5s forwards;
    position: relative;
    width:100%; /* Ancho relativo al contenedor padre */
    max-width: 600px; /* Ancho máximo para evitar que el contenido se vuelva demasiado ancho */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
    padding: 20px; /* Espacio alrededor del contenido */
   
    background-color: rgba(55, 58, 58, 0.5); /* Color de fondo con transparencia */
    backdrop-filter: blur(50px); /* Desenfoque del fondo */
    padding: 20px; /* Espaciado interior para el contenido */
    border-radius: 10px; /* Borde redondeado para el div */

}

@keyframes slideIn {
to {
    opacity: 1;
    transform: translateY(0);
    }
}

  /* Estilos adicionales para hacer el texto centrado y legible */
  h1, p {
    text-align: center;
    margin: 0;
    padding: 10px;
    color: rgba(0, 161, 167, 0.9);
}
  
.menu-header {
    padding: 10px 20px; /* Espaciado interior para los enlaces */
    position: fixed; /* Fijar el header en la ventana */
    top: 0; /* Colocar el header en la parte superior */
    right: 0; /* Colocar el header en la parte derecha */
    width: 100%; /* Ancho completo */
    animation: slideInHeader 0.5s forwards; /* Animación de entrada */
    background-image: linear-gradient(to right, rgba(55, 58, 58, 0), rgba(55, 58, 58, 0.7)); /* Degradado de transparente a color sólido */
}

.menu-header div {
    display: flex;
    justify-content: flex-end; /* Alinear los elementos a la derecha */
    margin-right: 20px;
}


.redirect-cv-referece {
    display: flex;
    justify-content: center;
    align-items: center;
}

.redirect-cv-referece {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Espacio entre los elementos y el contenido anterior */
    animation: slideInIcons 1s forwards; /* Animación de entrada */
}

.redirect-cv-referece a {
    color: rgba(0, 161, 167, 0.9);
    margin: 10px;
    font-size: 30px; /* Ajustar el tamaño de la fuente */
    transition: color 0.3s, transform 0.3s; /* Transición suave de color y transformación */
}

.redirect-cv-referece a:hover {
    color: rgba(255, 255, 255, 0.7); /* Cambio de color al pasar el cursor */
    transform: scale(1.2); /* Aumentar ligeramente el tamaño */
}


@keyframes slideInIcons {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.button-container {
    position: fixed;
    left: -100%; /* Inicialmente fuera de la pantalla */
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    animation: slideInButton 2s forwards; /* Animación de entrada */
}

@keyframes slideInButton {
    from {
        left: -100%; /* Posición inicial fuera de la pantalla */
    }
    to {
        left: 92%; /* Posición final en la pantalla */
    }
}

.button-pag-referent-proyect {
    background-color: rgba(19, 20, 20, 0);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 100%;
    transition: all 0.3s ease;
}

.button-pag-referent-proyect:hover {
    background-color: lightblue;
    transform: scale(1.1);
}


.bg-darka{
    --bs-bg-opacity: 0.5;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}


.container-logo-personal {
    position: fixed;
    bottom: -40px;
    left: 0;
    padding: 20px;
    padding-bottom: 0; /* Aumentar el espacio inferior */
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    z-index: 1000;
}

.logo-img-personal {
    max-width: 200px;
    height: auto;
}
